<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4" style="width: 80%">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <ul style="list-style-type:none; margin-left: 60px; line-height:1.5;">
          <li><b>Name:</b>  <%= @user.name %></li>
          <li><b>Email:</b>  <%= @user.email %></li>
          <li><b>Address:</b>  <%= @user.address %></li>
          <li><b>Phone Number:</b>  <%= @user.phone_no %></li>
          <li><b>Infection:</b>  <%= @user.infection %></li>
          <li><b>Other Details:</b>  <%= @user.other_details %></li>
        </ul>
      </h1>
    </section>
  </aside>
</div>